@model aplicacao_teste.Models.UserViewModel

<h1>Usuário criado com sucesso!</h1>
<br />
<h4>Dados do usuário:</h4>
<div>
    <p><strong>Nome:</strong> @Model.Name</p>
    <p><strong>Sobrenome:</strong> @Model.LastName</p>
    <p><strong>Email:</strong> @Model.Email</p>
</div>